<niz-chip
  [ngClass]="
    themeService.theme === 'dark'
      ? 'hover:text-primary '
      : 'hover:text-secondary'
  "
  class="mb-1 mr-1 gradient"
  *ngFor="let tag of tags | async | slice: 0:limit"
>
  <a
    [routerLink]="'/tags/' + tag.slug"
    [ngClass]="
      themeService.theme === 'dark'
        ? 'focus:ring-primary'
        : 'focus:ring-secondary'
    "
    class="focus-ring rounded-md"
  >
    {{ tag.title }}
  </a>
</niz-chip>

<a
  *ngIf="(tags | async)?.length > limit"
  [routerLink]="'/tags/'"
  [ngClass]="
    themeService.theme === 'dark'
      ? 'hover:text-primary focus:ring-primary'
      : 'hover:text-secondary focus:ring-secondary'
  "
  class="text-sm font-bold uppercase text-color mr-2 focus-ring rounded-md"
>
  see all
</a>
