@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-text-main: 23 23 23; /* #171717 */
        --color-bg-main: 232 223 211; /* #ECE5D9 - warm sand color */
        --color-bg-muted: 234 233 225; /* #EAE9E1 */
        --color-border-main: 23 23 23; /* #171717 */
    }
    html.dark {
        --color-text-main: 226 223 210; /* #E2DFD2 */
        --color-bg-main: 28 31 23; /* #1C1F17 */
        --color-bg-muted: 23 28 14; /* #171C0E */
        --color-border-main: 226 223 210; /* #E2DFD2 */
    }
}
