---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';

const albums = await getCollection('albums');
---

<BaseLayout title="Gallery">
    <h1 class="text-3xl leading-tight font-serif font-medium sm:text-5xl sm:leading-tight mb-12">Álbumes</h1>
    <div class="container max-w-screen-xl mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
        {
            albums.map((item) => (
                <a href={`/gallery/${item.id}`} class="group transition-all mb-4 block">
                    <Image
                        src={item.data.cover}
                        alt={item.data.title}
                        format="avif"
                        width={720}
                        quality="mid"
                        class:list={['rounded-lg transition-all', 'group-hover:shadow-lg group-hover:opacity-85']}
                    />
                    <div class="mt-2 text-center">
                        <div class="font-normal">{item.data.title}</div>
                    </div>
                </a>
            ))
        }
    </div>
</BaseLayout>
