<article class="mt-10 max-w-screen-xl mx-auto" *ngIf="post$ | async as route">
  <div class="max-w-container space-y-4">
    <header class="space-y-4">
      <app-breadcrumb></app-breadcrumb>
      <div class="prose max-w-none md:prose-lgspace-y-1">
        <dl>
          <div>
            <dt class="sr-only">Published at</dt>
            <dd class="text-base leading-6 font-medium text-color-light mb-1">
              <time [dateTime]="route.publishedAt">
                {{ route.publishedAt | date: 'dd MMMM yyyy' }}
              </time>
            </dd>
          </div>
        </dl>

        <h1>
          {{ route.title }}
        </h1>

        <p class="text-lg md:text-2xl">
          {{ route.description }}
        </p>
      </div>
    </header>
    <div
      class="grid grid-cols-1 md:grid-cols-3 md:gap-x-4 lg:grid-cols-4 lg:gap-x-6"
    >
      <div
        [ngClass]="{ 'prose-dark': themeService.theme !== 'dark' }"
        class="prose prose-toc max-w-none md:prose-lg md:col-span-2 lg:col-span-3 text-justify"
      >
        <scully-content></scully-content>
      </div>
      <div class="order-first md:order-none">
        <div class="sticky top-32 space-y-4">
          <niz-toc></niz-toc>
          <div>
            <h2 class="text-xl font-semibold">Tags</h2>
            <niz-chip
              [ngClass]="
                themeService.theme === 'dark'
                  ? 'hover:text-primary'
                  : 'hover:text-secondary'
              "
              class="mb-1 mr-1 gradient"
              *ngFor="let tag of route.tags | slice: 0:3"
              size="xl"
            >
              <a [routerLink]="'/tags/' + (tag | dash | lowercase)">
                {{ tag }}
              </a>
            </niz-chip>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>

<app-comments class="my-5" [route]="post$ | async"></app-comments>
